.func{
    color:orange;
}
.perem{
    color:rgb(6, 6, 189);
}
.err{
    color:red;
}
.try{
    color:aqua;
}
.resp{
    color:darkgray
}
.text{
    color:rgb(160, 18, 18);
}
.id{
    color:rgb(23, 235, 164);
}