%center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%column{
  display: flex;
  flex-direction: column;
}
* {
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 1280px;
  max-width: 100%;
  margin: 3em auto;
  background-color: rgba(233, 225, 225, 0.479);
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  header{
    height: 70px;
    width: 100%;
    background-color: white;
    ul{
      display: flex;
      justify-content: space-around;
    }
  }
  main{
    display: flex;
    padding: 0 0 1px 0;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    &:before{
      content: '';    
      position:absolute;    
      width: 130px;    
      height: 30px;    
      border-left: 1px dashed rgba(0, 0, 0, 0.1);    
      border-right: 1px dashed rgba(0, 0, 0, 0.1);    
      background: rgba(0, 0, 0, 0.1);    
      background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1,rgba(0, 0, 0, 0.2)));    
      background: -moz-linear-gradient(555% 0 180deg, rgba(0,0,0,0.1), rgba(0,0,0,0.2) 10%, rgba(0,0,0,0.0));    
      -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);    
      -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);    
      box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);    
      -webkit-transform:translate(-50px,10px)skew(10deg,10deg)rotate(-50deg);
      -moz-transform:translate(-50px,10px) skew(10deg,10deg)  rotate(-50deg);
      -o-transform:translate(-50px,10px) skew(10deg,10deg) rotate(-50deg);
      transform:translate(-50px,10px)skew(10deg,10deg)rotate(-50deg);
    }
    .left{
      width: 40%;
      background-color: #39383e;
      color: white;  
      progress{
        height: 0.6em;
        border-radius: 0;
        border: 1px solid white;
        &::-webkit-progress-bar {
          background-color: #39383e;
          color: white;
        }
        &::-webkit-progress-value {
          background-color: white
        }
      }
      li{
        margin: 0.9em 0
      }    
      &_photo{
        @extend %center;
        width: 100%;
        height: 400px;
        img{
          width: 240px;
          background: #e6e6e8;
          display: inline-block;
          padding: 15px 15px;
          box-shadow: 0 1px 4px rgba(0, 0, 0, 1),-23px 0 20px -23px rgba(0, 0, 0, .8),23px 0 20px -23px rgba(0, 0, 0, .8),0 0 40px rgba(0, 0, 0, .1) inset;
          position: relative;
        }
      }
      &_contact{
        @extend %column;
        padding-left: 60px;
        width: 100%;
        padding-left: 60px;
          li{
            width: 100%;
            display: flex;
            align-items: baseline;
            .linked{
              width: 40px;
              height: 40px;
              background: url(./image/linked.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
              margin-right: 20px;
            }
            .teleg{
              @extend .linked;
              background: url(./image/teleg.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
            .email{
              @extend .linked;
              background: url(./image/email.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
            .web{
              @extend .linked;
              background: url(./image/web.png);
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
            
          }
      }
      &_language{
        @extend %column;
        padding-left: 60px;
        li{
          width: 100%;
          display: flex;
          align-items: baseline;
          span{
            width: 100px;
          }
        }
      }
      &_skills{
        @extend .left_language;
        height: 250px;
      }
    }
    .right{
      padding: 0 60px 0 60px;
      background-color: #ebe9ec;
      width: 60%;
      color: black;
     h2{     
       border-bottom: 3px solid black;
       padding-bottom: 5px;
     }
      &_name{
        padding-left: 60px;
        display: flex;
        align-items: center;
        height: 400px;
        h1{
          display: flex;
          flex-direction: column;
          font-size: 60px;
          font-weight: 100;
          :first-child{        
            color:#908e8f;
          }
        }
        p{
          margin-top: 1.5em;
          font-size: 18px;
        }
      }
      &_education{
        font-size: 18px;
        font-weight: 500;
        &_container{
          display: flex;
          justify-content: space-between;
          &_place{
            @extend %column;
            font-weight: 900;
            :first-child{
              padding: 1em 0;
              color:red;
            }
          }
          &_year{
            @extend %center;
            min-width: 5em;
          }         
        }
        > p{
          padding: 0.5em 0 1em 0;
        }
      }
      &_project{
        padding: 1em 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &_item{
          padding: 10px 5px;
          margin: 0.5em 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 45%;
          height: 280px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;         
          img{
            width: 90%;
            transition: all 0.3s;
            &:hover{
              transform: scale(1.1);
            }
          }
          h4{
            padding: 0.5em 0;
          }
          &_stack{
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            width: 100%;
            .js{
              background-image: url(./image/js.png);
              background-repeat: no-repeat;
              background-size: contain;
              width: 2em;
              height: 2em;
            }
            .react{
              @extend .js;
              background-image: url(./image/react.png);
            }
            .scss{
              @extend .js;
              background-image: url(./image/scss.png);
            }
            .html{
              @extend .js;
              background-image: url(./image/html.png);
            }
            .node{
              @extend .js;
              background-image: url(./image/node.png);
            }
          }
          
        }
      }
    }
  }
  .footer{
    position: absolute;
    margin: 40px 0;
    padding: 0 0 60px 0;
    height: 30px;
    width: 100%;
    ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 60px;
      li{
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
    &_icons{
      width: 100px;
      height: 60px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
h6{
  display: none;
}
.tape{
  @extend %center;
  position: relative;
  width: 100%;
  padding: 10px 15px;
  margin: 0 0 0 -15px;
  background: #d71722;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  &::after, &::before {
    content: '';
    position: absolute;
    bottom: -15px; right: -15px;   
    border-color: transparent transparent transparent #000000;
    border-style: solid;
    border-width: 15px;
    width: 0; height: 0;
    line-height: 0;
    z-index: -1;
}
&::before {
    bottom: -15px; left: -15px;
    border-color: transparent #5a0a0e transparent transparent;
   
}

}
li{
  list-style-type:none;
}
a:active, a:hover, a {
  text-decoration: none;
  color:inherit;
}
.pencil{
  background-image: url(./image/pencil.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: calc(50% - 350px);
  right: -130px;
  height: 700px;
  width: 50px;
  z-index: 2;
  
  @media screen and (max-width:1558px){
    display: none;
  }
}